body {
      display: flex;
      min-height: 100vh;
      overflow-x: hidden;
    }
    .sidebar {
      width: 270px;
      background-color: #003366;
      padding-top: 20px;
      position: fixed;
      height: 100%;
      color: white;
    }
    .sidebar h4 {
      text-align: center;
      margin-bottom: 30px;
    }
    .nav-group {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .sidebar a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 10px 20px;
      transition: 0.3s;
    }
    .sidebar a:hover, .sidebar a.active {
      background-color: #3b72ba;
    }