<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientDashboardServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.PatientDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAppointmentsServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.MyAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalHistoryServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.MedicalHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrescriptionServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.PrescriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmergencyContactServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.EmergencyContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBiometricServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.UploadBiometricServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileSettingsServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.ProfileSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmergencyScanServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.EmergencyScanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmergencyScannerServlet</servlet-name>
        <servlet-class>com.docvisitnow.controller.EmergencyScannerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientDashboardServlet</servlet-name>
        <url-pattern>/PatientDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAppointmentsServlet</servlet-name>
        <url-pattern>/MyAppointmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalHistoryServlet</servlet-name>
        <url-pattern>/MedicalHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescriptionServlet</servlet-name>
        <url-pattern>/PrescriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmergencyContactServlet</servlet-name>
        <url-pattern>/EmergencyContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBiometricServlet</servlet-name>
        <url-pattern>/UploadBiometricServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileSettingsServlet</servlet-name>
        <url-pattern>/ProfileSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmergencyScanServlet</servlet-name>
        <url-pattern>/EmergencyScanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmergencyScannerServlet</servlet-name>
        <url-pattern>/EmergencyScannerServlet</url-pattern>
    </servlet-mapping>
</web-app>
